<h1>eat the freaking burger</h1>


<div id="left">

  <h2>burgers to be devoured</h2>

  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
    <button type="button" class="eatburger" id="eatbutton" data-id="{{this.id}}"
      data-newDevoured="{{devour}}">devour</button>
    <hr>
    {{/unless}}
    {{/each}}
  </ul>

</div>

<div id="right">

<h2>you've eaten these burgers</h2>
  <ul>
    {{#each burgers}}
    {{#if devoured}}
    <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
    <button type="button" class="trashburger" id="trashbutton" data-id="{{this.id}}"
      data-newDevoured="{{devour}}">dispose</button>
    <hr>
    {{/if}}
    {{/each}}
  </ul>
</div>

<div id="add">
  <h2>add a burger</h2>

  <form class="create-form">

    <div class="form-group">
      <label for="newburger">burger name:</label>
      <input type="text" id="newburger" name="burger">
    </div>

    <button type="submit" id="addburger">add burger</button>
  </form>
</div>
