<li>
    {{burger}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}" data-burger="{{burger}}">
        {{#if devoured}}devour{{else}}devoured{{/if}}
    </button>
</li>